@model PersonalLibrary.Models.Autor

@{
    ViewBag.Title = "Detalhes";
}


<div>
    <h4>Autor</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.AutorId }) |
    @Html.ActionLink("Voltar", "Index")
</p>
