
@{
    ViewBag.Title = "Audio";
    Layout = "~/Views/Shared/_Layout_Index.cshtml";
}
<div  class="container-fluid">
    <h4 class="text-center text-muted">
        Podcast
        
        </h4>
    <h5 class="text-center">
        
        <br />
        Entenda o que você deve fazer e como adequar o seu perfil para conseguir imigrar para o canadá em 2017!
        

    </h5>

        <div  style="margin: 10px auto; width: 320px">
            <audio controls>
                <source src="~/Content/audio/imigracao_canadense2017.mp3" type="audio/mpeg">
                Seu browser não suporte elementos de áudio.
            </audio>

            <h5 class="text-center text-muted">
                Podcast 106 do site <a href="http://www.canadaparabrasileiros.com/" target="_blank">Canadá para Brasileiros</a>. 
                <br />
                <br />
                Link do vídeo <a href="https://www.youtube.com/watch?v=L_g1UyjnKyM" target="_blank">Aqui</a>. 
            </h5>
        </div>

    </div>
