
@{
    //ViewBag.Title = "Texto";
    Layout = "~/Views/Shared/_Layout_Index.cshtml";
}


<h3>Sistema de Biblioteca Pessoal</h3>

<p>Desenvolvido especialmente para os leitores assíduos, que possuem uma coleção de livros em casa e querem catalogar todos de forma fácil e rápida</p>

<p>O sistema Personal Library permite as seguintes funcionalidades:</p>

<ul>
    <li>Cadastro de Livros</li>
    <li>Cadastro de Autores dos Livros</li>
    <li>Cadastro de Empréstimos, que permite inserir:</li>
    <ul>
        <li>Para quem está sendo emprestrado o livro</li>
        <li>Data em que foi emprestado</li>
        <li>Data prevista para devolução</li>
    </ul>
</ul>  

<p>Totalmente gratuito para você organizar seus livros e facilitar seu dia-a-dia!</p>