
@{
    ViewBag.Title = "Video";
    Layout = "~/Views/Shared/_Layout_Index.cshtml";
}
<div>
    @*Vídeo autoral*@
    <div>
        <h3 class="text-center text-muted">
            Vídeo Autoral
        </h3>
    </div>
    <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/AyP3qYSiorc"></iframe>
    </div>


    @*Vídeo Youtube*@
    <br />
    <div>
        <h3 class="text-center text-muted">
            Vídeo do Youtube
        </h3>
    </div>
    <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/XGSy3_Czz8k"></iframe>
    </div>
</div>

    
